{% macro pagination(total, current, url) %}
    {% if total > 1 %}
      {% set nearbyPagesLimit = 4 %}
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if current > 1 %}
            <li class="page-item"><a class="page-link" href="{{ (url ~ '&page=' ~ (current-1) )|e }}">Previous</a></li>
          {% endif %}
          {% for i in 1..total %}
            {% if 0 == (current - nearbyPagesLimit) - loop.index %}
              <li class="page-item"><a class="page-link" href="{{ (url ~ '&page=1')|e }}">1</a></li>
              <li class="page-item"><span class="page-link">…</span></li>
            {% elseif 0 == (current + nearbyPagesLimit) - loop.index  and (current + nearbyPagesLimit) < total %}
              <li class="page-item"><span class="page-link">…</span></li>
            {% elseif 0 < (current - nearbyPagesLimit) - loop.index %}
            {% elseif 0 > (current + nearbyPagesLimit) - loop.index %}
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ url ~ '&page=' ~  loop.index }}" {% if current == loop.index  %} class="active"{% endif %}>{{ loop.index }}</a></li>
            {% endif %}
          {% endfor %}
          {% if current != total  and (current + nearbyPagesLimit) < total %}
            <li class="page-item"><a class="page-link" href="{{ (url ~ 'page=' ~ total)|e  }}">{{ total }}</a></li>
          {% endif %}
          {% if current < total %}
            <li class="page-item"><a class="page-link" href="{{ (url ~ '&page='~ (current+1) )|e }}">Next</a></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}

{% endmacro %}